*{
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
}
.mid{
  background-image: url(back.jpeg.jpg);
  height: 70px;
  border-bottom: 1px solid black;
}
.mid ul{
  display: flex;
  list-style-type: none;
}
.mid ul li{
  margin: 0.2em;
  padding: 0.4em;
  font-weight: 500;
  margin-top: 0.7em;
  margin-left: 3.3em;
  font-size: 20px;
  color: white;
}
.mid ul li a{
  color: black;
  text-decoration: none;
}
.b, .c, .d, .e{
  padding-top: 18px;
  padding-bottom: 10px;
}
nav{
  background-image: url(back.jpeg.jpg);
  background-size: cover;
  height: 104em;
}
.top{
  display: block;
  margin: 70px auto;
  width: 45%;
  height: 1180px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 25px 85px 10px rgb(0, 0, 0, 0.01) inset; 
}
.text p{
  padding: 40px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}
label{
  display: block;
  margin-left: 40px;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
}
.name, .name1, .name3{
  margin-left: 40px;
  height: 50px;
  width: 350px;
  border-radius: 20px;
  border: 0;
  background-color: rgb(200 200 200);
  margin-bottom: 10px;
  font-size: 18px;
  padding-left:15px ;
}
.name1{
  height: 180px;
  border-radius: 0;
  padding-top: 15px;
  font-size: 22px;
}
.name3{
  width: 368px;
}
.name1::placeholder{
  color: black;
}
.post{
  color: white;
  background-color: black;
  height: 2.3em;
  width: 10em;
  font-size: 1.2em;
  padding: 0.3em;
  margin-top: 1.3em;
  margin-left: 6em;
  border-radius: 25px;
  border: 0;
  transition: background-color 0.15s;
}
.post:hover{
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4) ;
  border: 1.6px solid rgb(230 230 230);
  color: black;
  border: 2px solid grey;
  background-color: rgb(220 220 220);
}
.mid ul li a {
  color: white;
}
.red{
  background-color: white;
  border-radius: 20px;
}
.mid ul .red{
  height: 25px;
}
.mid ul .red a{
  color: black;
  padding: 0px 30px;
}
.mid ul .cb{
  height: 30px;
  border-bottom: 1px solid white;
}
.red:hover{
  color: red;
  background-color: black;
}
.mid ul .red a:hover{
  color: white;
}
.cbn{
  height: 30px;
}
.cbn:hover{
  border-bottom: 1px solid white;
}
